body {
    background-color: bisque;
}

h1 {
    background-color: brown;
}

.pierwszy {
    background-color: chartreuse;
}

h2 {
    background-color: darkcyan;
}

.drugi {
    background-color: green;
}

ul {
    background-color: indianred;
}